<%- include('partials/header') %>

<input type="text" hidden name="status" id="status" value="<%= user[0].langganan %>">
<input type="text" hidden name="proses" id="proses" value="<%= user[0].proses %>">

    <div class="container-fluid-top">
        <h1>Paket Langganan</h1>
    </div>
    <div class="container-fluid-top">
        <div class="row">

            <div class="col-lg-6">
                <div class="card round">
                    <h1 class="card-header">Gratis</h1>
                    <div class="card-body">
                      <h5 class="card-title">Fitur yang akan didapatkan oleh user</h5>
                      <ul>
                          <li>Memiliki Limit 5x Membuat Room</li>
                      </ul>
                      <h5 class="card-title">GRATIS</h5>
                    </div>
                    <div class="card-footer">
                        <a href="" class="btn" id="gratis" ></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card round">
                    <h1 class="card-header">Premium</h1>
                    <div class="card-body">
                      <h5 class="card-title">Fitur yang akan didapatkan oleh user</h5>
                      <ul>
                          <li>Tanpa Limit Membuat Room</li>
                      </ul>
                      <h5 class="card-title">IDR 15.000/Bulan</h5>
                    </div>
                    <div class="card-footer">
                        <a href="/berlangganan/<%= user[0]._id %>" class="btn" id="langganan" ></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>

        window.addEventListener('load', function () {
            
            if (document.getElementById("status").value === "false") {
                
                if (document.getElementById("proses").value == "Proses") {
                    
                    document.getElementById("langganan").textContent = "Masih Di Proses";
                    document.getElementById("gratis").textContent = "Gratis";

                    document.getElementById("langganan").href ="";

                    
                    document.getElementById("langganan").classList.add("btn-secondary");
                    document.getElementById("gratis").classList.add("btn-primary");


                } else {

                    document.getElementById("langganan").textContent = "Berlangganan";
                    document.getElementById("gratis").textContent = "Paket Saat Ini";

                    document.getElementById("langganan").href ="/berlangganan/<%= user[0]._id %>";

                    document.getElementById("langganan").classList.add("btn-primary");
                    document.getElementById("gratis").classList.add("btn-secondary");
                            
                }
                
            } else if (document.getElementById("status").value === "true") {
                
                document.getElementById("langganan").textContent = "Paket Saat Ini";
                document.getElementById("gratis").textContent = "Gratis";

                document.getElementById("langganan").href ="";

                
                document.getElementById("langganan").classList.add("btn-secondary");
                document.getElementById("gratis").classList.add("btn-primary");
            }
        })
        

        
    </script>

<%- include('partials/footer') %>