<%- include('partials/header') %>

    <!--Nama Room-->
    <div class="container-fluid" >
        <h1><%= rooms[0].room.kegiatan %></h1>
        <h4>Tanggal: 19-10-2021</h4>
    </div>
    

        <!--Pertemuan-->
        <div class="container-fluid">
            <!--Header Content-->
            <div class="header-content">
                <h4>Urutkan</h4>
                
            </div>

            <!--Content-->
            <div class="content">
                <% let i = 1 %>
                <% peserta.forEach(function(foundPeserta){ %> 
                    <% if (foundPeserta.hadir === true) { %> 
                        <div class=" data-card center">
                            <h4><%= i %>.  <%= foundPeserta.peserta %></h4>
                        </div>
                        <% i = i+1 %>
                    <% } %>  
                <% }); %>
                       

                <br>
                <div class="center" style="text-align: center;">
                    <button class="btn mk-btn-submit" type="submit">Export</button>
                </div>

            </div>

            

        </div>

    
<%- include('partials/footer') %>