<%- include('partials/header') %>

    <!--Nama Room-->
    <div class="container-fluid-top" >
        <h1><%= rooms[0].room.kegiatan %></h1>
        <h1><% let idx = Number(index); %> </h1>
        <h4>Tanggal: <%= rooms[0].tanggal[idx] %> </h4>

    </div>
    

        <!--Pertemuan-->
        <div class="container-fluid">
            <!--Header Content-->
            <div class="header-content">
                <h4>Urutkan</h4>
                
            </div>

            <!--Content-->
            <div class="content">
                <% let i = 1 %>
                <% let ada = false %> 
                <% peserta.forEach(function(foundPeserta){ %> 

                    <% foundPeserta.hadir.forEach(function(hadir){ %>

                        <% if (hadir[rooms[0].tanggal[idx]] === "True") { %> 
                            <% ada = true; %> 
                            <div class="data-card center">
                                <div class="row list">
                                    <div class="col-lg-6">
                                        <h4><%= i %>.  <%= foundPeserta.peserta %></h4>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5 class="waktu">Waktu: <%= foundPeserta.waktu[idx] %></h5>
                                    </div>
                                </div> 
                            </div>
                            <% i = i+1 %>
                        <% } %>

                    <% }); %>  
                      
                <% }); %>
                       

                <br>
                <form action="/download/<%= idx %>/<%= rooms[0]._id %>" method="post">
                    <div class="center" style="text-align: center;">
                        <button class="btn mk-btn-submit" id="kirim" type="submit">Export</button>
                    </div>
                    <div class="center" style="text-align: center;">
                        <a class="tutor" href="/tutorial/export">Tutorial Export</a>
                    </div>
                </form>

            </div>
        </div>

        <script>
            if (!ada) {
                document.getElementById("kirim").style.visibility = "hidden";
            } else if (ada) {
                document.getElementById("kirim").style.visibility = "visible";
            }
        </script>

    
<%- include('partials/footer') %>