<%- include('partials/header') %>

<!--Pertemuan-->
<div class="container-fluid-top">
    <!--Header Content-->
    <div class="header-content">
        <div class="row">

            <div class="col-lg-6 d-flex justify-content-left">
                <h1>Pertemuan</h1>
            </div>

            <div class="col-lg-6">
                <h5 class="show-all"><a href="tampilsemua">Urutkan</a></h5>
            </div>

        </div>
    </div>

    <!--Content-->
    <div class="content">
        <% let i = 0; %> 
        <% let ada = false; %> 
        <% rooms[0].tanggal.forEach(function(foundTanggal){ %>  
            <a href="/list/bukutamu/<%= i %>/<%= rooms[0]._id %>">
                <div class=" scan-qr center">
                    <h4><%= foundTanggal %> </h4>
                </div>
            </a>
            <% i = i + 1; %> 
        <% }); %>

        <br>
        <div class="center" style="text-align: center;">
            <button class="btn mk-btn-submit" id="kirim" type="submit">Export</button>
        </div>

    </div>

    <script>
        console.log(room[0].tanggal.length);
        if (room[0].tanggal.length < 0) {
            document.getElementById("kirim").style.visibility = "hidden";
        } else if (room[0].tanggal.length > 0) {
            document.getElementById("kirim").style.visibility = "visible";
        }
    </script>

    <%- include('partials/footer') %>