<%- include('partials/header') %>

<input hidden type="number" name="ada" id="ada" value=<%= rooms[0].tanggal.length %>>

<!--Pertemuan-->
<div class="container-fluid-top">
    <!--Header Content-->
    <div class="header-content">
        <div class="row">

            <div class="col-lg-6 d-flex justify-content-left">
                <h1>Pertemuan</h1>
            </div>

            <div class="col-lg-6">
                <h5 class="show-all"><a href="tampilsemua">Urutkan</a></h5>
            </div>

        </div>
    </div>

    <!--Content-->
    <div class="content">
        <% let i = 0; %> 
        <% let ada = false; %> 
        <% rooms[0].tanggal.forEach(function(foundTanggal){ %>  
            <a href="/list/bukutamu/<%= i %>/<%= rooms[0]._id %>">
                <div class=" scan-qr center">
                    <h4><%= foundTanggal %> </h4>
                </div>
            </a>
            <% i = i + 1; %> 
        <% }); %>

        <br>
        <form action="/download/a/room/<%= rooms[0]._id %>" method="post">
            <div class="center" style="text-align: center;">
                <button class="btn mk-btn-submit" id="kirim" type="submit">Export</button>
            </div>
        </form>

    </div>

    <script>

        window.addEventListener('load', function () {
            if (document.getElementById("ada").value == 0) {
                alert("tes");
                document.getElementById("kirim").style.visibility = "hidden";
            } else if (document.getElementById("ada").value == 0) {
                document.getElementById("kirim").style.visibility = "visible";
        }
        });

        
        
    </script>

    <%- include('partials/footer') %>