<%- include('partials/header') %>

    <!--Content-->
    <div class="container-fluid">
        <div class="">
            <form action="/daftar/room-info" method="post">
            <h1>Room Info</h1>
            <input hidden name="roomId" id="roomId" value="<%= rooms[0]._id %>">  
            <div class="card room">
                <div class="img-header-card center">
                    <img src="data:image/<%=rooms[0].img.contentType%>;base64,
                    <%=rooms[0].img.data.toString('base64')%>" class="card-img-top" alt="Picture">
                    <h4 style="text-align: center;"><%= rooms[0].room.kegiatan %> </h4>
                </div>
                
                    <div class="center">
                        <div class="mb-3">
                            <h4><%= rooms[0].room.deskripsi %> </h4>
                        </div>

                        <div style="padding: 5px 15px;"> 
                            <hr>
                            <div class="mb-3">
                                <h5> <%= rooms[0].room.jenis %> </h5>
                            </div>
                            <hr>
                            <div class="mb-3">
                                <h5> <%= rooms[0].room.kota %>, <%= rooms[0].room.lokasi %></h5>
                            </div>
                            <hr>
                            <div class="mb-3">
                                <h5> <%= rooms[0].room.tanggal %>, <%= rooms[0].room.waktuMulai %> - <%= rooms[0].room.waktuSelesai %></h5>
                            </div>
                            <hr>
                            <div class="mb-3">
                                <a href=<%= rooms[0].room.info %>><h5> Media Sosial/Link Meet </h5></a>
                            </div>
                            <hr>
                        </div>

                        <div class="mb-3">
                            <h4>Price</h4>
                            <h3>IDR 50.000</h3>
                        </div>
            
                    </div>
                  
            </div>
            <div class="center" style="text-align: center;">
                <button class="btn mk-btn-submit" type="submit">Selanjutnya</button>
            </div>
            </form>
            
        </div>
    </div>


<%- include('partials/footer') %>