<%- include('partials/header') %>

      <!--Form Daftar-->
    <div class="container-fluid-top">
      <div class="center">
        <h1>Akun</h1>
      </div>
      
        <div class="center dv-card">
          <div style="text-align: center;">
            <div class="img-header-profile center">
              <img src="/Images/logo.png" alt="Picture">
            </div>
            <h4><%= UserName %></h4>
          </div>

          
          <hr>

          <div class="card-body">
            <a href="/akun">
              <div>
                <h5>Informasi Akun</h5>
              </div>
            </a>
            <hr>
            <a href="/langganan">
              <div>
                <h5>Berlangganan</h5>
              </div>
            </a>
            <hr>
            <a href="/tutorial">
              <div>
                <h5>Panduan</h5>
              </div>
            </a>
          </div>


          <div class="card-body">
            <a class="btn btn-submit" href="/keluar" role="button">Keluar</a>
            <br><br>
            <!-- <form action="/hapus-akun/<%= userId %>" method="post"> -->
              <button class="btn btn-keluar" data-toggle="modal" data-target="#konfirmasi">Hapus Akun</button>
            <!-- </form> -->
          </div>
          
        </div>

        <!-- Modal -->
        <div class="modal fade" id="konfirmasi" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Konfirmasi Hapus Akun</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                        
                    <form action="/hapus-akun/<%= userId %>" method="post">
                      <button type="submit" class="btn btn-outline-danger">Hapus</button>
                    </form>
                  
                  </div>
              </div>
          </div>
      </div>

    </div>


<%- include('partials/footer') %>