<%- include('partials/header') %>

    <!--Content-->
    <div class="container-fluid-top">
      <form action="/info-edit-bukutamu" method="post">
        <div>
            <h1>Buku Tamu</h1>
            <input type="text" hidden name="roomId" value="<%= rooms[0].id %>">

            <div class="card room">
              
              <div class="img-header-card center">
                <img src="data:image/<%=rooms[0].img.contentType%>;base64,
                <%=rooms[0].img.data.toString('base64')%>" class="card-img-top" alt="Picture">
              </div>
                
                <div class="center">
                  <!-- Info Room -->
                    <h2>Room Info</h2>
                    <hr>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label ">Nama Kegiatan</label>
                        <input type="text" required class="form-control" name="namaKegiatan" autofocus id="namaKegiatan" value="<%= rooms[0].room.kegiatan %>">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Deskripsi</label>
                        <textarea class="form-control" required name="deskripsi" id="deskripsi" rows="3"><%= rooms[0].room.deskripsi %></textarea>
                    </div>

                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Jenis</label>
                      <select class="form-select" name="jenis" required="required" id="jenis" aria-label="Default select example">
                        <option value="<%= rooms[0].room.jenis %>" selected ><%= rooms[0].room.jenis %></option>
                        <option value="On Site">On Site</option>
                        <option value="Online">Online</option>
                      </select>
                    </div>

                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Kota</label>
                      <input type="text" required class="form-control" name="kota" id="kota" value="<%= rooms[0].room.kota %>">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Lokasi</label>
                        <input type="text" required class="form-control" name="lokasi" id="lokasi" value="<%= rooms[0].room.lokasi %>">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Tanggal Acara</label>
                        <input type="date" required class="form-control" name="tanggal" id="tanggal" value="<%= rooms[0].room.tanggal %>" >
                    </div>

                    <div class="mb-3">
                      <div class="row">
                        <div class="col-lg-6">
                          <label for="exampleFormControlInput1" class="form-label">Mulai Pukul</label>
                          <input type="time" required class="form-control" name="mulai" id="mulai" value="<%= rooms[0].room.waktuMulai %>" >
                        </div>
                      

                        <div class="col-lg-6">
                          <label for="exampleFormControlInput1" class="form-label">Selesai Pukul</label>
                          <input type="time" required class="form-control" name="selesai" id="selesai" value="<%= rooms[0].room.waktuSelesai %>">
                        </div>
                      </div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Info Tambahan</label>
                        <input type="text" class="form-control" name="info" id="info" value="<%= rooms[0].room.info %>">
                    </div>
                  
                </div>

            </div>
            
            <div class="center" style="text-align: center;">
              <button class="btn mk-btn-submit" id="kirim" type="submit">Selanjutnya</button>
            </div>

        </div>
      </form>
    </div>

   
<%- include('partials/footer') %>