<%- include('partials/header') %>

    <!--Nama Room-->
    <div class="container-fluid-top">
        <h1><%= rooms[0].room.kegiatan %></h1>

        <hr style="border-top: 2px solid black;">

        <!--Scan Barcode-->
        <div class="">
            <h1>Scan Barcode</h1>
            <a href="/scan/peserta">
                <div class="scan-qr center">
                    <img class="img-sc-qr" src="/Images/scan-qr.png" alt="Barcode">
                </div>
            </a>
        </div>

        <br>
        <div class="centers">
            <hr class="border">
        </div>  
        <br>

        <div class="center data-card">
            <h4>Tanggal: <%= rooms[0].room.tanggal %> </h4>
            <h4><%= rooms[0].room.lokasi %>, <%= rooms[0].room.kota %></h4>
            <h4><%= rooms[0].pesertaid.length %>  Tiket Terjual</h4>
            <h4><%= rooms[0].ticket.kuotaTicket - rooms[0].pesertaid.length %> Tiket Tersisa</h4>
            <h4> <%= rooms[0].ticket.kuotaTicket %> Kuota Tiket </h4>
            <h4>ID Room: <%= rooms[0]._id %></h4>

            <input type="text" id="roomId" hidden value="<%= rooms[0]._id %>">
        </div>

        <br>
        <div class="centers">
            <hr class="border">
        </div>  
        <br>

        <div class="scan-qr">
    
            <a href="/pendaftar/<%= rooms[0]._id %>">
                <img class="img-button" src="/Images/group.png" alt="">
            </a>
            <a href="/pertemuan/<%= rooms[0]._id %>">
                <img class="img-button" src="/Images/open-book.png" alt="" data-toggle="tooltip" data-placement="top" title="Daftar Buku Tamu">
            </a>
            <a href="/qrcode/r/<%= rooms[0]._id %>" data-toggle="tooltip" data-placement="top" title="QrCode Room">
                <img class="img-button" src="/Images/qrcode.png" alt="">  
            </a>
            <a onclick="myFunction()" data-toggle="tooltip" data-placement="top" title="Salin Id Room">
                <img class="img-button" src="/Images/copy.png" alt="">
            </a>  
        </div>
        
    </div>

    <script>
        function myFunction() {
            /* Get the text field */
            var copyText = document.getElementById("roomId");

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */

            /* Copy the text inside the text field */
            navigator.clipboard.writeText(copyText.value);

            /* Alert the copied text */
            alert("Copied the text: " + copyText.value);
        }
    </script>

    


            



    
<%- include('partials/footer') %>